{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>password reset form</title>
    <link rel="stylesheet" href="{% static 'CSS/variables.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
</head>
<body>
 
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#">WOOTURTLE KOCHI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <a class="nav-link active" id="text" href="{% url 'home' %}">HOME</a>
            <a class="nav-link active" id="text" href="{% url 'signup' %}">SIGNUP</a>
          </div>
        </div>
      </nav>
    

<div class="container">
    <h1>Password Reset</h1>
    <p>enter your email below</p>


        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="email" required>
                <label for="Email">Email</label>
            </div>
            
           <div class="submit-section">
                <input type="submit" value="send" class="submit-button">
           </div>
           
        </form>


</div>
 
</body>
</html>